<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bookshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AvailableBooks</display-name>
    <servlet-name>AvailableBooks</servlet-name>
    <servlet-class>bookshop.servlets.AvailableBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableBooks</servlet-name>
    <url-pattern>/AvailableBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCartServlet</display-name>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>bookshop.servlets.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishListServlet</display-name>
    <servlet-name>WishListServlet</servlet-name>
    <servlet-class>bookshop.servlets.WishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishListServlet</servlet-name>
    <url-pattern>/WishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>bookshop.servlets.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>bookshop.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmPayment</display-name>
    <servlet-name>ConfirmPayment</servlet-name>
    <servlet-class>bookshop.servlets.ConfirmPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmPayment</servlet-name>
    <url-pattern>/ConfirmPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessingPayment</display-name>
    <servlet-name>ProcessingPayment</servlet-name>
    <servlet-class>bookshop.servlets.ProcessingPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessingPayment</servlet-name>
    <url-pattern>/ProcessingPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bestsellers</display-name>
    <servlet-name>Bestsellers</servlet-name>
    <servlet-class>bookshop.servlets.Bestsellers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bestsellers</servlet-name>
    <url-pattern>/Bestsellers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTitle</display-name>
    <servlet-name>SearchTitle</servlet-name>
    <servlet-class>bookshop.servlets.SearchTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTitle</servlet-name>
    <url-pattern>/SearchTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvancedSearch</display-name>
    <servlet-name>AdvancedSearch</servlet-name>
    <servlet-class>bookshop.servlets.AdvancedSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedSearch</servlet-name>
    <url-pattern>/AdvancedSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>bookshop.servlets.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToWishList</display-name>
    <servlet-name>AddToWishList</servlet-name>
    <servlet-class>bookshop.servlets.AddToWishList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToWishList</servlet-name>
    <url-pattern>/AddToWishList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove</display-name>
    <servlet-name>Remove</servlet-name>
    <servlet-class>bookshop.servlets.Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrders</display-name>
    <servlet-name>MyOrders</servlet-name>
    <servlet-class>bookshop.servlets.MyOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrders</servlet-name>
    <url-pattern>/MyOrders</url-pattern>
  </servlet-mapping>
</web-app>